In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
from IPython.display import display, Markdown
users = pd.read_csv('dataset/BX-Users.csv', sep=';',  encoding = "latin1")
ratings = pd.read_csv('dataset/BX-Book-Ratings.csv', sep=';', encoding = "latin1")
books = pd.read_csv('dataset/BX-Books.csv', sep=';', encoding = "latin1", error_bad_lines=False)
display(Markdown("### Users and their Details"))
display(users.head())
display(Markdown("****************"))
display(Markdown("### Ratings given by the users to the books"))
display(ratings.head())
display(Markdown("****************"))
display(Markdown("### Books and their details like publisher, Author"))
display(books.head())

b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'

### Users and their Details

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

****************

### Ratings given by the users to the books

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

****************

### Books and their details like publisher, Author

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [2]:
display(Markdown("### Dataset details"))
display(Markdown("Total ratings given by the users: "+str(ratings.shape[0])))
display(Markdown("Total number of users: "+str(users.shape[0])))
display(Markdown("Total number of Books: "+str(books.shape[0])))

### Dataset details

Total ratings given by the users: 1149780

Total number of users: 278858

Total number of Books: 271363

### We need atleast 5 ratings of each book to create our recommendation model

In [3]:
#check the number of ratings got by each book
ratings_each_book = ratings['ISBN'].value_counts()
display(ratings_each_book)
display(Markdown("### There are some books which got just 1 rating we need to remove them from consideration"))
display(Markdown('********'))
books_with_5 = books[books['ISBN'].isin(ratings_each_book[ratings_each_book>5].index)]
display(Markdown("#### Now we have %s number of Books"%str(books_with_5.shape[0])))

0971880107       2502
0316666343       1295
0385504209        883
0060928336        732
0312195516        723
044023722X        647
0679781587        639
0142001740        615
067976402X        614
0671027360        586
0446672211        585
059035342X        571
0316601950        568
0375727345        552
044021145X        529
0452282152        526
0440214041        523
0804106304        519
0440211727        517
0345337662        506
0060930535        494
0440226430        482
0312278586        474
0743418174        470
0671021001        468
0345370775        466
0446605239        465
0156027321        462
0440241073        456
0671003755        446
                 ...
0671488228175       1
1851588019          1
0704380226          1
0316141305          1
8472835448          1
096546377X          1
3952121002          1
0792277406          1
1564026604          1
3811874489          1
1841215333          1
0451136896          1
0945448872          1
671786784           1
0689803664          1
9722331205          1
0571214452          1
377015391X          1
0060924071          1
0943358051          1
0062500988          1
0451159101          1
033030867X          1
8479353228          1
B00005W4U4          1
052594236X          1
091718100X          1
1860469035          1
3824481387          1
0070118167          1
Name: ISBN, Length: 340556, dtype: int64

### There are some books which got just 1 rating we need to remove them from consideration

********

#### Now we have 32737 number of Books

In [4]:
display(books_with_5.head())
books_with_5 = books_with_5.reset_index(drop=True)
display(books_with_5.head())

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
5,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...
10,0771074670,Nights Below Station Street,David Adams Richards,1988,Emblem Editions,http://images.amazon.com/images/P/0771074670.0...,http://images.amazon.com/images/P/0771074670.0...,http://images.amazon.com/images/P/0771074670.0...
14,1558746218,A Second Chicken Soup for the Woman's Soul (Ch...,Jack Canfield,1998,Health Communications,http://images.amazon.com/images/P/1558746218.0...,http://images.amazon.com/images/P/1558746218.0...,http://images.amazon.com/images/P/1558746218.0...

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
1,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
2,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...
3,0771074670,Nights Below Station Street,David Adams Richards,1988,Emblem Editions,http://images.amazon.com/images/P/0771074670.0...,http://images.amazon.com/images/P/0771074670.0...,http://images.amazon.com/images/P/0771074670.0...
4,1558746218,A Second Chicken Soup for the Woman's Soul (Ch...,Jack Canfield,1998,Health Communications,http://images.amazon.com/images/P/1558746218.0...,http://images.amazon.com/images/P/1558746218.0...,http://images.amazon.com/images/P/1558746218.0...

### Recommendation model on the basis of books title

In [5]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(analyzer = 'word')
tfidf = vectorizer.fit_transform(books_with_5['Book-Title'])
tfidf.shape
from sklearn.metrics.pairwise import linear_kernel
similarity = linear_kernel(tfidf, tfidf)

In [24]:
def recommendation_title(index, similar_technique):
    similar_books = similar_technique[index]
    top_books = similar_books.argsort()[::-1]
    top_5_books = top_books[1:6]
    top_books_names = [books_with_5['Book-Title'].iloc[i] for i in top_5_books]
    return top_books_names
recommendation_title(1001, similarity)

['Waterdeep (Forgotten Realms:  Avatar Trilogy, Book 3)',
 'Shadowdale (Forgotten Realms:  Avatar Trilogy, Book One)',
 'Realms of Valor (Forgotten Realms)',
 'Homeland (Forgotten Realms: The Dark Elf Trilogy, Book 1)',
 'Horselords (Forgotten Realms: The Empires Trilogy, Book 1)']

In [25]:
books_with_5.iloc[1001]

ISBN                                                          0880387483
Book-Title             Tantras (Forgotten Realms:  Avatar Trilogy, Bo...
Book-Author                                             Richard Awlinson
Year-Of-Publication                                                 1989
Publisher                                           Wizards of the Coast
Image-URL-S            http://images.amazon.com/images/P/0880387483.0...
Image-URL-M            http://images.amazon.com/images/P/0880387483.0...
Image-URL-L            http://images.amazon.com/images/P/0880387483.0...
Name: 1001, dtype: object